    <div>
      <h1 class="col-12 center">CRICKET SCORE KEEPER</h1>

      <form action="/add" method="POST">
        <input type="text" id="myText" placeholder="Enter valid over score"/>
        <button type="submit">ADD SCORE</button>
      </form>

      <form action="/add" method="POST">
     
      </form>

    </div>